.DS_Store
.eslintcache

node_modules
package-lock.json
yarn.lock

build
dist
functions

/packages/create-svelte/template/CHANGELOG.md
.svelte-kit

/examples/**/.svelte
/examples/**/build

.netlify
.pnpm-debug.log

.env
.husky