/* GLOBAL STYLES */

:root {
	--font-heading: 'Montserrat Alternates', sans-serif;
	--font-body: 'Poppins', sans-serif;

	--color-turquoise: hsl(192, 80%, 80%);
	--color-dark-blue: hsl(221, 43%, 16%);
	--color-light-orange: hsl(92, 30%, 64%);
	--color-light-orange-hover: hsl(13, 100%, 89%);
	--color-pink: hsl(337, 92%, 64%);
	--color-black: hsl(0, 0%, 11%);
	--color-grey: hsl(240, 5%, 45%);
	--color-light-grey: hsl(198, 19%, 89%);
	--color-lighter-grey: hsl(0, 0%, 95%);
	--color-white: hsl(0, 0%, 100%);
}

#svelte {
	position: relative;
	overflow-x: hidden;
}

body {
	color: var(--color-grey);
	font-family: var(--font-body);
	background-color: var(--color-white);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	color: var(--color-dark-blue);
}

main {
	padding: 0 1em;
}

a {
	color: inherit;
	text-decoration: none;
}

button:hover {
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
	transition: transform 0.2s;
}

button {
	font-family: inherit;
}

section > h1 {
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 0;
}
