/* GLOBAL STYLES */

:root {
	--font-heading: 'Montserrat Alternates', sans-serif;
	--font-body: 'Poppins', sans-serif;

	--color-turquoise: hsl(199, 100%, 86%);
	--color-dark-blue: hsl(221, 43%, 16%);
	--color-light-orange: hsl(13, 100%, 84%);
	--color-black: hsl(0, 0%, 11%);
	--color-grey: hsl(240, 5%, 45%);
	--color-white: hsl(0, 0%, 100%);
}

body {
	color: var(--color-dark-blue);
	font-family: var(--font-body);
	background-color: var(--color-white);
	padding: 0 1em;
}

button:hover {
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
	transition: transform 0.2s;
}

p,
li {
	color: var(--color-grey);
}
