/* GLOBAL STYLES */

:root {
	--color-black: hsl(197, 69%, 5%);
	--color-grey: hsl(240, 5%, 45%);
	--color-light-grey: hsl(198, 19%, 89%);
	--color-white: hsl(0, 0%, 98%);

	--color-base-dark: hsl(120, 36%, 13%);
	--color-base-normal: hsl(119, 45%, 28%);
	--color-base-light: hsl(92, 30%, 64%);
	--color-accent-action: hsl(0, 71%, 58%);
	--color-accent-normal: hsl(49, 83%, 50%);
	--color-accent-dark: hsl(221, 43%, 16%);
	--color-accent-alt: hsl(28, 83%, 77%);

	--font-body: 'Poppins', sans-serif;
	--font-body-color: var(--color-black);

	--font-heading: 'Montserrat Alternates', sans-serif;
	--font-heading-color: var(--color-accent-dark);
	--font-heading-base-size: 20px;
}

html {
	max-width: 100%;
	height: 100%;
}

#svelte {
	height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	color: var(--font-body-color);
	font-family: var(--font-body);
	background-color: var(--color-white);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	color: var(--font-heading-color);
	font-size: var(--font-heading-base-size);
	margin: 0;
}

main {
	padding: 0 0.5rem;
	height: 100%;
}

section {
	margin: 0.5rem 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button:hover {
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
	transition: transform 0.2s;
}

button {
	font-family: inherit;
}

section {
	margin: 1.5rem 0;
}

section > h1 {
	font-size: 1.2em;
	margin-left: 1rem;
	font-weight: 600;
	padding-bottom: 0.8rem;
}

.leaves-bg {
	background: url('$lib/assets/images/background/leavesBackground.svg');
	background-position: 20% 0;
	background-size: 250%;
}

.link-button {
	font-size: 0.8em;
	padding: 0.75em;
	text-align: center;
	color: var(--color-accent-dark);
	border: none;
	border-radius: 0.5em;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	background-color: var(--color-base-light);
}
