/* GLOBAL STYLES */

/* montserrat-alternates-regular - latin */
@font-face {
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-regular.woff')
			format('woff'),
		/* Modern Browsers */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-regular.svg#MontserratAlternates')
			format('svg'); /* Legacy iOS */
}
/* montserrat-alternates-italic - latin */
@font-face {
	font-family: 'Montserrat Alternates';
	font-style: italic;
	font-weight: 400;
	src: url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-italic.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-italic.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-italic.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-italic.woff') format('woff'),
		/* Modern Browsers */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-italic.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-italic.svg#MontserratAlternates')
			format('svg'); /* Legacy iOS */
}
/* montserrat-alternates-700 - latin */
@font-face {
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-700.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-700.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-700.woff') format('woff'),
		/* Modern Browsers */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-700.ttf') format('truetype'),
		/* Safari, Android, iOS */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-700.svg#MontserratAlternates')
			format('svg'); /* Legacy iOS */
}

/* poppins-200 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 200;
	src: url('/fonts/poppins/poppins-v15-latin-200.eot'); /* IE9 Compat Modes */
	src: local(''), url('/fonts/poppins/poppins-v15-latin-200.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/poppins/poppins-v15-latin-200.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/fonts/poppins/poppins-v15-latin-200.woff') format('woff'),
		/* Modern Browsers */ url('/fonts/poppins/poppins-v15-latin-200.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('/fonts/poppins/poppins-v15-latin-200.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/poppins/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('/fonts/poppins/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/poppins/poppins-v15-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/fonts/poppins/poppins-v15-latin-regular.woff') format('woff'),
		/* Modern Browsers */ url('/fonts/poppins/poppins-v15-latin-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('/fonts/poppins/poppins-v15-latin-regular.svg#Poppins')
			format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/poppins/poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''), url('/fonts/poppins/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/poppins/poppins-v15-latin-700.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/fonts/poppins/poppins-v15-latin-700.woff') format('woff'),
		/* Modern Browsers */ url('/fonts/poppins/poppins-v15-latin-700.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('/fonts/poppins/poppins-v15-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

:root {
	--font-heading: 'Montserrat Alternates', sans-serif;
	--font-body: 'Poppins', sans-serif;

	--color-dark-blue: hsl(221, 43%, 16%);
	--color-light-orange: hsl(13, 100%, 84%);
	--color-light-orange-hover: hsl(13deg 100% 89%);
	--color-black: hsl(0, 0%, 11%);
	--color-grey: hsl(240, 5%, 45%);
	--color-light-grey: rgba(223, 230, 233, 1);
	--color-white: hsl(0, 0%, 100%);
}

body {
	color: var(--color-dark-blue);
	font-family: var(--font-body);
	background-color: var(--color-white);
}

.submit-btn {
	padding: 1.4rem 2rem;
	border-radius: 1rem;
	border: none;
	font-size: 1rem;
	background: var(--color-light-orange);
	margin: 0.5rem 0;

	cursor: pointer;
}

.cancel-btn {
	padding: 1.4rem 2rem;
	border-radius: 1rem;
	border: none;
	font-size: 1rem;
	margin: 0.5rem 0;
	background: none;
	border: 1px solid var(--color-black);

	cursor: pointer;
}

.submit-btn:hover,
.submit-btn:focus {
	background: var(--color-light-orange-hover);
}
.cancel-btn:hover,
.cancel-btn:focus {
	background: var(--color-light-grey);
}
