/* GLOBAL STYLES */

:root {
	--font-heading: 'Montserrat Alternates', sans-serif;
	--font-body: 'Poppins', sans-serif;

	--color-turquoise: hsl(192, 80%, 80%);
	--color-dark-blue: hsl(221, 43%, 16%);
	--color-light-orange: hsl(13, 100%, 84%);
	--color-light-orange-hover: hsl(13, 100%, 89%);
	--color-black: hsl(0, 0%, 11%);
	--color-grey: hsl(240, 5%, 45%);
	--color-light-grey: hsl(198, 19%, 89%);
	--color-lighter-grey: hsl(0, 0%, 95%);
	--color-white: hsl(0, 0%, 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}

p {
	font-family: var(--font-body);
}

body {
	color: var(--color-dark-blue);
	font-family: var(--font-body);
	background-color: var(--color-white);
	padding: 0 1em;
}

button:hover {
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
	transition: transform 0.2s;
}

p,
li {
	color: var(--color-grey);
}

button {
	font-family: var(--font-body);
}

button:hover {
	cursor: pointer;
}

button:active {
	transform: scale(0.98);
	transition: transform 0.2s;
}

.hide-underline {
	text-decoration: none;
}

.no-transform-button:active {
	transform: none;
}
