/* montserrat-alternates-regular - latin */
@font-face {
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-regular.woff')
			format('woff'),
		/* Modern Browsers */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-regular.svg#MontserratAlternates')
			format('svg'); /* Legacy iOS */
}
/* montserrat-alternates-italic - latin */
@font-face {
	font-family: 'Montserrat Alternates';
	font-style: italic;
	font-weight: 400;
	src: url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-italic.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-italic.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-italic.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-italic.woff') format('woff'),
		/* Modern Browsers */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-italic.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-italic.svg#MontserratAlternates')
			format('svg'); /* Legacy iOS */
}
/* montserrat-alternates-700 - latin */
@font-face {
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-700.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-700.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-700.woff') format('woff'),
		/* Modern Browsers */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-700.ttf') format('truetype'),
		/* Safari, Android, iOS */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-700.svg#MontserratAlternates')
			format('svg'); /* Legacy iOS */
}

/* montserrat-alternates-600 - latin */
@font-face {
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-600.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-600.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-600.woff') format('woff'),
		/* Modern Browsers */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-600.ttf') format('truetype'),
		/* Safari, Android, iOS */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-600.svg#MontserratAlternates')
			format('svg'); /* Legacy iOS */
}
/* montserrat-alternates-600italic - latin */
@font-face {
	font-family: 'Montserrat Alternates';
	font-style: italic;
	font-weight: 600;
	src: url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-600italic.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-600italic.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-600italic.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-600italic.woff')
			format('woff'),
		/* Modern Browsers */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-600italic.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('/fonts/montserrat-alternates/montserrat-alternates-v12-latin-600italic.svg#MontserratAlternates')
			format('svg'); /* Legacy iOS */
}

/* poppins-200 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 200;
	src: url('/fonts/poppins/poppins-v15-latin-200.eot'); /* IE9 Compat Modes */
	src: local(''), url('/fonts/poppins/poppins-v15-latin-200.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/poppins/poppins-v15-latin-200.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/fonts/poppins/poppins-v15-latin-200.woff') format('woff'),
		/* Modern Browsers */ url('/fonts/poppins/poppins-v15-latin-200.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('/fonts/poppins/poppins-v15-latin-200.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/poppins/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('/fonts/poppins/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/poppins/poppins-v15-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/fonts/poppins/poppins-v15-latin-regular.woff') format('woff'),
		/* Modern Browsers */ url('/fonts/poppins/poppins-v15-latin-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('/fonts/poppins/poppins-v15-latin-regular.svg#Poppins')
			format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/poppins/poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''), url('/fonts/poppins/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/poppins/poppins-v15-latin-700.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/fonts/poppins/poppins-v15-latin-700.woff') format('woff'),
		/* Modern Browsers */ url('/fonts/poppins/poppins-v15-latin-700.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('/fonts/poppins/poppins-v15-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
